@media only screen and (min-width: 320px) {
  .countainer {
    min-width: 320px;
    max-width: 432px;
  }
  .header-countainer {
    justify-content: space-between;
    min-height: 56px;
  }
  .page-nav {
    justify-content: space-between;
  }
  .site-nav {
    display: none;
  }
  .address {
    display: none;
  }
  /*HERO*/
  .hero {
    padding: 72px 0;
  }
  .hero-title {
    font-size: 36px;
    margin-bottom: 72px;
    max-width: 216px;
  }
  .hero-countainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*ADVANTEGES*/
  .main-description {
    padding: 96px 0;
  }
  .advanteges-icon {
    display: none;
  }
  .advanteges {
    gap: 72px;
    display: flex;
    justify-content: center;
  }
  .advanteges-title {
    font-size: 36px;
  }
  .section-text {
    font-size: 16px;
  }
  .team {
    justify-content: center;
  }
  /*footer*/
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text {
    width: 288px;
  }
  .footer-first-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
  .footer-second-text {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
  }
  .footer-second-part {
    display: block;
    text-align: center;
    margin-bottom: 72px;
  }
  .social-footer {
    gap: 16px;
  }
  .footer-third-part {
    display: block;
    text-align: center;
    margin-bottom: 96px;
  }
  .footer-email {
    max-width: 398px;
    width: 100%;
  }
  .footer-email-input {
    height: 40px;
    max-width: 300px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4%;
    vertical-align: middle;
    color: white;
    margin-bottom: 16px;
  }
  .footer-email-button {
    background-color: var(--iris);
    width: 165px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
  }
}
.logo {
  margin: 0px;
}
.icon-menu {
  stroke: rgb(102, 97, 97);
  stroke-width: 3;
  padding: 24px 0px;
}
.menu-toggle {
  display: block;
  width: 32px;
  height: 22px;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
