@media only screen and (min-width: 768px) {
  .countainer {
    max-width: 768px;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .address {
    display: block;
    margin-left: auto;
  }
  .address-nav {
    display: block;
    font-size: 12px;
  }
  .hero {
    padding: 122px 0;
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .advantages {
    gap: 72px 24px;
  }
}
