:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
.page {
  color: var(--slate);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
.countainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
}
.header-countainer {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  list-style: none;
}
li {
  list-style-type: none;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--ocean);
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-part {
  color: var(--navy-blue);
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.navigation {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}
.navigation:hover,
.navigation:focus {
  color: var(--ocean);
}
.address {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
  margin-left: auto;
}
.address:hover,
.address:focus {
  color: var(--ocean);
}
.address-nav {
  display: flex;
  align-items: center;
}
.address-nav:hover,
.address-nav:focus {
  color: var(--ocean);
}
.address-nav-first {
  margin-right: 40px;
}
.hero {
  background-color: var(--navy-blue, black);
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--white);
}
.hero-button {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  vertical-align: middle;
  background-color: var(--iris);
  color: var(--white);
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
.advanteges-title {
  display: none;
}
.advanteges-list {
  width: 1128px;
  height: 104px;
}
.section-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}
.section-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
}
.team {
  background-color: var(--cloud);
  margin: 0 auto;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
}
.team-card {
  background-color: var(--white);
}
