/*GENERAL*/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
.page {
  color: var(--slate);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.countainer {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
li {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*HEADER*/
.header-countainer {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--ocean);
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-part {
  color: var(--navy-blue);
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.navigation {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}
.navigation:hover,
.navigation:focus {
  color: var(--ocean);
}
.address {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
  margin-left: auto;
}
.address:hover,
.address:focus {
  color: var(--ocean);
}
.address-nav {
  display: flex;
  align-items: center;
}
.address-nav:hover,
.address-nav:focus {
  color: var(--ocean);
}
.address-nav-first {
  margin-right: 40px;
}
/*HERO*/
.hero {
  background-color: var(--navy-blue, black);
  display: flex;
  align-items: center;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
  max-width: 496px;
}
.hero-button {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: var(--iris);
  color: var(--white);
  border-radius: 8px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px #00000026;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
/*ADVANTEGES*/
.main-description {
  padding: 120px 0;
}
.advanteges {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}
.advanteges-card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
/*SECTION*/
.section-caption {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--navy-blue);
}
.section-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.section-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
}
/*TEAM*/
.main-team {
  background-color: var(--cloud);
  padding: 120px 0;
  box-sizing: border-box;
}
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
}
.team-card {
  background-color: var(--white);
}
