/*GENERAL*/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
.page {
  color: var(--slate);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.countainer {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*HEADER*/
.header-countainer {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--ocean);
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-part {
  color: var(--navy-blue);
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.navigation {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
}
.navigation:hover,
.navigation:focus {
  color: var(--ocean);
}
.address {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
  margin-left: auto;
}
.address:hover,
.address:focus {
  color: var(--ocean);
}
.address-nav {
  display: flex;
  align-items: center;
}
.address-nav:hover,
.address-nav:focus {
  color: var(--ocean);
}
.address-nav-first {
  margin-right: 40px;
}
/*HERO*/
.hero {
  background-color: var(--navy-blue, black);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./img/7c8d46d47e83b6c8ee4603ea892aa8aaebb3c5fe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--white);
  margin-bottom: 40px;
  max-width: 496px;
}
.hero-button {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: var(--iris);
  color: var(--white);
  border-radius: 8px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px #00000026;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
/*ADVANTEGES*/
.main-description {
  padding: 120px 0;
}
.advanteges {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.advanteges-icon {
  margin-bottom: 8px;
  background-color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
}
.advanteges-card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
/*SECTION*/
.section-caption {
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.section-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.section-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--slate);
  margin-bottom: 8px;
}
/*TEAM*/
.main-team {
  background-color: var(--cloud);
  padding: 120px 0;
  box-sizing: border-box;
}
.team {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  text-align: center;
}
.team-card {
  background-color: var(--white);
  flex-basis: calc((100% - 3 * 144px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-card-wrapper {
  padding: 32px 16px;
  text-align: center;
}
.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-link:hover {
  background-color: var(--ocean);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
}
.social-icons {
  fill: var(--cloud);
}
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0px;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}
.footer .logo-part {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  width: 264px;
}
/*PORTFOLIO*/
.sorting {
  padding: 100px 0px 72px 0px;
}
.sort {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.sorting-botton {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  padding: 12px 24px;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(231, 233, 252, 1);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
}
.sorting-botton:hover {
  background-color: var(--ocean);
  color: var(--white);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-card-wrapper {
  padding: 32px 0;
}
